# SSH
SSH_KEY_DIR=

# Proxmox
TF_VAR_proxmox_api_url=
TF_VAR_proxmox_api_token_id=
TF_VAR_proxmox_api_token_secret=

# Cloudflare
TF_VAR_cloudflare_api_token=
TF_VAR_cloudflare_zone_id=
TF_VAR_cloudflare_account_id=
TF_VAR_domain_name=

# Passwords
MARIADB_ROOT_PASSWORD=
MARIADB_PASSWORD=
GRAFANA_ADMIN_PASSWORD=
ALERTMANAGER_SMTP_PASSWORD=
TF_VAR_cloudinit_password=

# Networking
INGRESS_IP=
