services:
  terraform:
    build:
      context: .
      dockerfile: docker/terraform/Dockerfile
    working_dir: /work

    env_file:
      - .env
    volumes:
      - ./:/work
      - ./artifacts:/artifacts
    # entrypoint: [ "tail", "-f", "/dev/null" ]
    entrypoint: [ "/bin/sh", "/work/docker/terraform/run.sh" ]

  ansible:
    build:
      context: .
      dockerfile: docker/ansible/Dockerfile
    working_dir: /work
    depends_on:
      - terraform
    env_file:
      - .env
    volumes:
      - ./:/work
      - ./artifacts:/artifacts
      - ${SSH_KEY_DIR:-~/.ssh}:/keys:ro
    command: [ "python3", "/work/scripts/build_inventory.py" ]
    # command: [ "tail", "-f", "/dev/null" ]




