apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflared
data:
  config.yaml: |
    tunnel: {{ tunnel_id }}

    ingress:
      - hostname: blog.{{ domain_name }}
        service: http://ingress-nginx-controller.ingress-nginx.svc.cluster.local
      - hostname: grafana.{{ domain_name }}
        service: http://ingress-nginx-controller.ingress-nginx.svc.cluster.local
      - service: http_status:404